[Unit]
Description=Check docker-ip-ssl-proxy updates every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
RandomizedDelaySec=60
Persistent=true
Unit=docker-ip-ssl-proxy-update.service

[Install]
WantedBy=timers.target
